/* ---- Header Nav ---- */

.hamburger {
	cursor: pointer;
	padding: 15px;
	display: block;

	.line {
		border-bottom: $hamburger-line;
		width: 35px;
		margin-bottom: 6px;
		margin-left: auto;
		margin-right: auto;
	}

	.line:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(tablet) {
		display: none;		
	}
}


.main-nav {	
	height: 0;
	overflow: hidden;
	transition: height 0.3s;

	li {
		@extend %link-background;
		list-style-type: none;
		display: block;
		max-width: 500px;
		margin: 5px auto;
		@extend %button-border;

		@include breakpoint(tablet) {
			margin-left: 5px;			
		}
	}

	a {
		padding: 10px 20px;
		display: inline-block;	

		@include breakpoint(desktop) {
			padding: 15px 25px;		
		}
	}

	@include breakpoint(tablet) {
		border-top: $main-nav;
		border-bottom: $main-nav;
	}

	@include breakpoint(desktop){
		border-bottom: none;
		border-top: none;
		margin-bottom: 0;
	}
}

//Will add this class when we want nav to be open. This class must come after earlier style height 0
.open {
	height: 210px;
}


/*could not nest this as this media query has to come AFTER the .open code above for the height to work if user widens their browser window past mobile view with hamburger menu open*/

.main-nav {
	@include breakpoint(tablet) {
		margin: $center-item;
		width: 500px;
		height: 70px;
		transition: none;
	}	
}

/* ---- Footer Nav ---- */

.to-top,
.footer-name,
.footer-nav li {
	padding: 5px 7px;
	@extend %footer-button-border;
	@extend %link-background;
}

.footer-nav {
	display: none;

	@include breakpoint(tablet) {
		display: inline-block;
		list-style-type: none;
	}

	li {
		@include breakpoint(tablet) {
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}


.to-top {
	@include breakpoint(tablet) {
		display: none;
	}
}

.footer-name {
	@include breakpoint(tablet) {
		list-style-type: none;
	}
}
